# --- Unity Standard ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[MemoryCaptures]/

# --- Fichiers de solution Visual Studio / Rider ---
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# --- Fichiers système ---
.DS_Store
Thumbs.db

# --- Crashlytics / Assets Unity ---
sysinfo.txt
*.apk
*.unitypackage
/[Uu]serSettings/
